.App {
  text-align: center;
}

.App-header {
  font: 45px "Century Gothic", Futura, sans-serif;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: white;
  margin-bottom: 20px;
} 